body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}
.myApp{
	color: red;
}
li:hover {
	padding-left: 5px;
	border-left: 3px solid blue;
	color: blue;
}